
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(19, 198, 211); /*Dessa forma crio uma variavel para poder mencionar essa cor em qualquer lugar*/
    --primary-color-dark:rgba(13, 112, 119, 0.795);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
} 

.container {
    margin: 50px auto ;
    max-width: 640px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 2px solid var(--primary-color); /*Quando a gente clcar vai ficar com uma bordar da coloração do fundo*/
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    margin-top: 30px;
    cursor: pointer; /*Faz com que o cursor vire uma maozinha de cursor clicavel*/
}

form button:hover {
    background-color: var(--primary-color-dark);
}

/*   AQUI COMEÇA OS CÓDIGOS DO PRIMEIRO DESAFIO   */


table {
    border-collapse: collapse;
}

table tr td {
    padding: 5px 50px;
    border: 1px solid var(--primary-color);    
}

.paragrafo-resultado {
    background-color: rgb(125, 255, 190);
    padding: 10px 20px;
}

.bad {
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.466);
}